/jgame/nbproject/private/
/jgame/build/
/GameProject/nbproject/private/
/GameProject/build/
/jgame/dist/
/GameProject/dist/
/StaticTest/nbproject/private/
/StaticTest/build/
/Sort/nbproject/private/
/libsort/nbproject/private/