/jgame/nbproject/private/
/jgame/build/
/GameProject/nbproject/private/
/GameProject/build/
/jgame/dist/
/GameProject/dist/
/StaticTest/nbproject/private/
/StaticTest/build/
/Sort/nbproject/private/
/libsort/nbproject/private/
/GenericAlgorithm/nbproject/private/
/GenericAlgorithm/build/
/UndirectedGraph/nbproject/private/
/UndirectedGraph/build/
/UndirectedGraph/dist/
/PlatformGame/nbproject/private/
/PlatformGame/build/
/GLTest/nbproject/private/
/GLTest/build/
/jgame/hs_err_*